<div fxHide.xs>
  <md-sidenav #sidenav mode="side" opened="true" align="end">
    <md-list>
      <md-list-item>
        Rubros
      </md-list-item>
      <md-list-item>
        <button md-button> <md-icon> keyboard_arrow_left </md-icon>Electricidad</button>
      </md-list-item>
      <md-list-item>
        <button md-button> <md-icon> keyboard_arrow_left </md-icon>Sanitarios</button>
      </md-list-item>
      <md-list-item>
        <button md-button> <md-icon> keyboard_arrow_left </md-icon>Pinturas</button>
      </md-list-item>
      <md-list-item>
        <button md-button> <md-icon> keyboard_arrow_left </md-icon>Herrajes</button>
      </md-list-item>
    </md-list>
  </md-sidenav>
</div>
