<div fxHide.lt-md>
  <md-list>
    <md-nav-list>
      <md-list-item>  Rubros </md-list-item>
      <md-list-item>
        <md-icon> keyboard_arrow_left </md-icon><span> Electricidad</span>
      </md-list-item>
      <md-list-item>
        <md-icon> keyboard_arrow_left </md-icon><span> Sanitarios</span>
      </md-list-item>
      <md-list-item>
        <md-icon> keyboard_arrow_left </md-icon><span> Pinturas</span>
      </md-list-item>
      <md-list-item>
        <md-icon> keyboard_arrow_left </md-icon><span> Herrajes</span>
      </md-list-item>
    </md-nav-list>
  </md-list>
</div>
