md-toolbar-row {
  justify-content: space-between;
}

.navbar-search {
  width: 40%;

  & md-input-container {
    width: 100%;
  }

  & md-icon {
    vertical-align: middle !important;
  }
}
md-sidenav {
  margin-top: 64px;
  width: 80%;
  padding:20px;
  box-shadow: 0 0 15px #888;
}

.mat-sidenav-content {
    display: block;
    height: 100%;
    overflow: initial;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
}

.md-toolbar{
  background: #f05724;
  color:#fff
}


.inputSearch{
  width:100%;
  border:none;
  background:#e03906;
  padding:10px;
  color:#fff;
  font-size: 17px;
}


.searchs{
  background: #e03906;
  padding:10px;
  font-size: 25px;
}