<md-toolbar color="warn">
  <span>
    <md-nav-list><md-list-item><img md-list-avatar src="assets/header.png"></md-list-item></md-nav-list>
  </span>

  <span class="navbar-search">
    <md-input-container>
      <input mdInput value="">
      <md-icon>search</md-icon>
    </md-input-container>
  </span>

  <span>
    <div fxHide.xs>
      <button md-icon-button (click)="sidenav.open()">
        <md-icon>shopping_cart</md-icon>
      </button>
    </div>
    <div fxHide.lg>
      <button md-icon-button [mdMenuTriggerFor]="appMenu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #appMenu="mdMenu">
        <button md-menu-item disabled>Rubros</button>
        <button md-menu-item><md-icon> keyboard_arrow_left </md-icon><span> Electricidad </span></button>
        <button md-menu-item><md-icon> keyboard_arrow_left </md-icon><span> Sanitarios </span></button>
        <button md-menu-item><md-icon> keyboard_arrow_left </md-icon><span> Pinturas </span></button>
        <button md-menu-item><md-icon> keyboard_arrow_left </md-icon><span> Herrajes </span></button>
      </md-menu>
    </div>
  </span>
</md-toolbar>