<md-sidenav-container fullscreen>
  <md-sidenav #start class="alinear-derecha">
    <md-nav-list>
      <a md-list-item routeLink="/miCuenta">Mi Cuenta</a>
    </md-nav-list>
    <hr>
    <button md-button (click)="start.close()">Cerrar</button>
  </md-sidenav>

  <div class="container" fxLayout="row">
    <md-toolbar color="primary">
      <div class="blocks" fxFlex="100%" fxLayoutAlign="center start">
        <app-search (click)="cargarProductos($event)">

        </app-search>
      </div>
      <div class="blocks" fxFlex fxLayoutAlign="end center">
        <button md-icon-button (click)="start.open()">
          <md-icon class="menu-icon">menu</md-icon>
        </button>
      </div>
    </md-toolbar>
  </div>


  <navbar-navbar></navbar-navbar>
  <div class="container">
    <md-card fxLayout="row" fxLayoutAlign="center start" *ngFor="let product of productos">
      <div class="blocks" fxFlex="30%" fxLayoutAlign="start stretch">
        <img src="assets/placeholderProducto.png">
        <!--<md-icon svgIcon="avatars:{{selectedUser.avatar}}" class="avatar"></md-icon>-->
      </div>
      <div class="blocks" fxFlex="70%" fxLayoutAlign="start start">
        <md-list>
          <h3 md-subheader>Informacion</h3>
          <md-list-item>
            <h3><span>Codigo: {{product.codigo}}</span></h3>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <h3><span>Descripcion: {{product.descripcion}}</span></h3>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <h3><span>Cantidad: {{product.cantidad}}</span></h3>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <h3><span>Precio: {{product.precio}}</span></h3>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>

      </div>
    </md-card>
  </div>
</md-sidenav-container>