<!--<md-sidenav-container>  
  <app-navbar></app-navbar>
  <div>
    <app-products class="container"></app-products>
    <app-sidebar></app-sidebar>
  </div>
</md-sidenav-container>
-->

<md-sidenav-container>
  <!-- MENU -->

  	<app-navbar></app-navbar>


  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill>
    <header>
      
    </header>

    <article fxFlex fxFlexOffset.gt-md="16">
      	<app-products class="container" fxFlex></app-products>
    	<app-sidebar fxFlex="30"></app-sidebar>
    </article>

    <footer>
      
    </footer>
  </div>
</md-sidenav-container>