md-card {
  margin: 20px;
}

.product-image {
  border: 1px solid #000;
  height: 100px !important;
  order: -1;
  width: 100px !important;
}

.products-derecha{
	border-right:1px solid #e5e5e5;
}

.descripcion-products-list{
	color:#f05724;
}