<!--<md-card *ngFor="let product of products">
   <md-card-title-group>
      <img md-card-avatar class="product-image" src="{{product.imageUrl}}">
      <md-card-title>
        {{product.descripcion}}
      </md-card-title>
      <md-card-subtitle>
        <p>
          <span>Medida: </span>
          {{product.medida}}
          <span>Precio: </span>
          {{product.precio}}
        </p>
      </md-card-subtitle>
   </md-card-title-group>
</md-card>

<br>-->
<div fxFlex class="products-derecha">
  <md-list>
    <div *ngFor="let product of products">
      <md-nav-list>
        <md-list-item>
          <img md-list-avatar src="{{product.imageUrl}}" style="width: 75px; height: 75px">
          <h3 md-line class="descripcion-products-list">
            <strong>
              <span *ngIf="product.descripcion.length <= 34">{{product.descripcion}}</span>
              <span *ngIf="product.descripcion.length > 34">{{product.descripcion | slice:0:34}}...</span>
            </strong>
          </h3>
          <p md-line>{{product.cantidad}} / {{product.medida}} </p>
          <p md-line>${{product.precio}}</p>
          <md-divider></md-divider>
        </md-list-item>
      </md-nav-list>
      <md-divider></md-divider>
    </div>
  </md-list>
